* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4f525a;
  font-family: "Acme";
  /* display: flex; */
  /* height: 100%; */
  display: flex;
  height: 100vh;
}

#app {
}

#main {
  display: flex;
  flex-direction: row;
  width: 100dvw;
  height: 100dvh;
  position: relative;
  background-size: cover;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* height: 96vh; */
  align-items: center;
  /* max-width: 20%; */
  width: 12dvw;
  height: calc(100dvh - 5dvh);
  background-color: #00000050;

  /* margin-right: auto; */

  /* position: fixed; */
}

#nav-logo-link {
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* justify-content: space-evenly; */
  /* height: 100%; */
  /* width: 100%; */
}

nav ul li {
  align-items: center;
  font-size: 1.9rem;
  text-align: left;
  width: 100%;
  /* padding: 5% 0 0 0; */
  /* margin: 5% 0 0 0; */
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;

  /* padding: 4% 10% 4% 22%; */
  /* background-color: #444; */
  /* -webkit-text-stroke-width: 1px; */
  /* -webkit-text-stroke-color: black; */
  /* padding-left: 15%; */
  padding: 5% 0 5% 25%;
  transition: 0.3s;
}

nav ul li a:hover {
  background-color: #333333;
  cursor: pointer;
}

nav ul li a.active {
  background-color: #333333;
  cursor: default;
  color: #a5ca68;
  /* font-weight: bold; */
}

#nav-logo {
  align-self: center;
  width: 70%;
  max-width: 200px;
  margin: 0px 5px 10px 5px;
}

/* Positioning for dropdown items */
.dropdown {
  position: relative;
}

.submenu {
  position: absolute;
  left: 100%; /* Moves submenu to the right */
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  list-style: none;
  padding: 0;
  display: none; /* Hidden by default */
  width: 150px;
  min-width: max-content;
}

.submenu li {
  width: 100%;
}

.submenu li a {
  display: block;
  padding: 10px;
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}

.submenu li a:hover {
  background-color: #333;
}

/* Make dropdowns visible when parent is hovered (Fallback for non-JS users) */
.dropdown:hover .submenu {
  display: block;
}

/* Mobile Navigation */
.menu-btn {
  display: none;
  position: fixed;
  top: 15px;
  left: 15px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.home-content {
  flex: 1;
  flex-wrap: wrap;
  height: calc(100dvh - 5dvh);
  width: calc(100dvw - 15dvw);
  background: url("images/hero2.png");
  background-size: cover;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;

  background-position: center;
}

.home-address {
  color: white;
  font-size: 2rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  /* font-weight: normal; */
}

.home-logo {
  color: white;
  padding: 10px;
  /* font-size: 1.5rem; */
  /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
  width: fit-content;
  text-align: center;
}

#logo-png {
  height: 30vh;
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* width: 100%; */
  margin-bottom: 3%;
  position: absolute;
  margin-left: 6%;
  bottom: 0;
  margin-top: auto; /* Pushes it to the bottom */
}

.review {
  height: 200px;
  width: 350px;
  color: white;
  background-color: #00000099;
  border-radius: 15px;
  text-align: center;
  margin: 5px;
}

.review p {
  padding: 0% 3%;
  align-content: center;
  font-size: clamp(1rem, 2vw, 1.1rem);
}

.stars {
  margin-top: 5%;
  height: 4vh;
}

.events-content {
  flex: 1;
  flex-wrap: wrap;
  height: calc(100dvh - 5dvh);
  width: calc(100dvw - 15dvw);
  /* background: url("images/events.png"); */
  background-size: cover;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-position: center;
}

.upcoming-events {
  text-align: center;
  color: white;
  font-size: 1.2rem;
  -webkit-text-stroke-width: 0.25px;
  -webkit-text-stroke-color: black;
}

.contact-content {
  /* flex: 1; */
  background: url("images/contact.png");
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  height: calc(100dvh - 5dvh);
  width: calc(100dvw - 15dvw);
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
}

.contact-bubbles {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  /* margin-top: 100px; */
}

.circle {
  width: 30dvw;
  height: 65dvh;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  color: white;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.left {
  background-color: #00000070;
  position: relative;
  right: 10%;
}

.right {
  background-color: #00000070;
  position: relative;
  left: 10%;
}

.center {
  background-color: lightgreen;
  position: absolute;
  outline: 1px solid black;
  background: url("images/owner.webp");
  background-size: contain;
  z-index: 10;
}

.footer {
  justify-content: space-between;
  background-color: black;
  color: white;
  text-align: center;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  /* padding: 1vh; */
  /* position: fixed; */
  /* max-height: 20vh; */
  /* height: 15%; */
  width: 100%;
  height: 6dvh;
  position: fixed;
  bottom: 0;
  /* font-size: 1rem; */
}

.social {
  /* padding: 5px; */
  padding-right: 5px;
  align-content: center;
  padding-left: 5px;
}

.icon-link {
}

.copyright {
  align-content: center;
}

.social-icon {
  /* height: 7vh; */
  height: 35px;

  padding: 3px;
}

.times {
  text-align: left;
  /* font-size: 1rem; */
  align-content: center;
  padding-left: 5px;
  /* gap: 15px; */
  /* height: 100%; */
}

@media only screen and (max-width: 960px) {
  #main {
    flex-direction: column; /* Stack elements vertically */
  }

  nav {
    display: none; /* Hide the default nav */
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%; /* Or a specific width */
    height: 100%;
    background-color: #00000099; /* Semi-transparent background */
    z-index: 1000; /* Ensure it's above other content */
    transform: translateX(-100%); /* Initially hidden */
    transition: transform 1s ease-in-out; /* Smooth transitions */
    overflow-y: auto; /* Enable scrolling if content overflows */
  }

  nav.mobile-nav {
    display: flex; /* Show the mobile nav */
    transform: translateX(0); /* Slide in */
  }

  .menu-btn {
    display: block; /* Show the hamburger menu */
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1001;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px; /* Add some padding around the button */
  }

  .menu-btn div {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
  }
  #nav-logo {
    width: 50%;
  }
  .home-content {
    width: 100%; /* Full width on mobile */
    height: calc(100dvh - 6dvh);
  }
  .events-content {
    width: 100%; /* Full width on mobile */
    height: calc(100dvh - 6dvh);
  }
  .contact-content {
    width: 100%; /* Full width on mobile */
    height: calc(100dvh - 6dvh);
  }
  /* .circle {
    width: 80dvw;
    height: 45dvh;
  }
  .left {
    right: 0%;
  }
  .right {
    left: 0%;
  } */
  /* .center {
    width: 50dvw;
    height: 30dvh;
  } */
  nav ul li {
    font-size: 1.5rem;
  }
  nav ul li a {
    padding: 5% 0 5% 10%;
  }

  .footer {
    height: 10dvh;
  }
}
